/*陶欣新添加*/
.kscp_c_icon_weihu {
    background-image: url(数据维护.png) !important;
}

.kscp_c_icon_xiugai {
    background-image: url(修改.png) !important;
}

.kscp_c_icon_pay {
    background-image: url(缴费.png) !important;
}

.kscp_c_icon_advSearch {
    background-image: url(数据查询.png) !important;
}

.kscp_c_icon_newSearch {
    background-image: url(查询.png) !important;
}

.kscp_c_icon_print_b {
    background-image: url(打印.png) !important;
}

.kscp_c_icon_daoru {
    background-image: url(从excel导入.png) !important;
}

.kscp_c_icon_daochu {
    background-image: url(导出.png) !important;
}

.kscp_c_icon_newPublish {
    background-image: url(发布.png) !important;
}

.kscp_c_icon_caozuo {
    background-image: url(操作.png) !important;
}

.kscp_c_icon_newAdd {
    background-image: url(添加.png) !important;
}

.kscp_c_icon_shangbao {
    background-image: url(上报.png) !important;
}

.kscp_c_icon_history {
    background-image: url(历史记录.png) !important;
}

.kscp_c_icon_tongji {
    background-image: url(统计.png) !important;
}

.kscp_c_icon_tongyi {
    background-image: url(对.png) !important;
}

.kscp_c_icon_fandui {
    background-image: url(错.png) !important;
}

.kscp_c_icon_queren {
    background-image: url(确认.png) !important;
}